.encabezado{
    display: flex;
}


.menu {
    display:flex;
}

.rankingtitulo{
    font-size: 40px;
}

.encabezado2 {
    color: blue;
    font-size: 20px;
}

.noticia_principal {
    color: rgb(3, 3, 3);
    text-align: center;
}

li{
    display: flex;
    padding: 50px;

}

.parrafo {
    color: blueviolet;
}

.logo{
    width: 150px;
    
}

.parrafo{
    font-family:'Cabin', sans-serif;
}

.parrafo_2 {
      padding-left: 100px;
      padding-top: 70px;
      padding-right: 100px;
      padding-bottom: 70px;
      height: 100px;
      transition: height 2s;
      background-image: linear-gradient(rgb(0, 255, 0),rgb(155, 156, 75));
}

.parrafo_2:hover {
height: 200px;
}

.lista_ol{
    color: red;
}

.main {
    background-image: linear-gradient(rgb(62, 211, 221), rgb(114, 119, 47));
}

.redes_sociales{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.redesabajo {
    display: flex;
    justify-content: space-between;
}

.contacto {
    width: 50px;
    display: flex;
    flex-direction: row;
}

.serverclasicotitulo{
    text-align: center;
    color: blue;
}

.rankingtitulo {
    text-align: center;
    color: blue;
}

body {
    background-image: url(../assets/img/fondo.png);
}

.noticia_principal {
    font-size: 50px;
    color: lightcoral;
}

.parrafo_3 {
    font-size: 25px;
    color:blueviolet;
    font-family:'Cabin', sans-serif;
    /* vista mobile */
}

@media screen and (max-width: 768px) {

main {
    background-color: black;
}

.parrafo{
    padding-right: 90px;
}

.menu {
    display: grid;
    grid-template-areas:
    "logo Inicio"
    "Donaciones Ranking"
    "Contacto Server Clasico";
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows:auto auto;
    padding: 10px;
}

.video1 {
    padding-right: 10px;
    width: 300px;

}

section {
    padding: 10px;
    padding-right: 90px;
    display: flex;
    flex-direction: row;
}

article {
    margin: 10px;
}

.parrafo_2{
    padding-left: 10px;
    margin-right: 50px;
    margin-left: 5px;
    text-align: center;
    width: 200px;
}

.redesabajo{
    padding-right: 50px;
}

.noticia_principal{
    padding-right: 71px;
}

.parrafo_3{
    padding-right: 90px;
}

main {
    padding-right: 90px;
}

}
    
/* vista tablet */
@media screen and (min-width:769px) and (max-width:1025px) {

.menu{
    padding-right: 200px;
}


.parrafo_2 {
    color: rgb(128, 0, 117);
}

.menu {
    color:gainsboro;
}

.video1 {
    padding-left: 200px;
}

.main{
   
    width: 780px;
  padding-left: 10px;
  padding-bottom: 10px;
  width: 850px;
}

.redesabajo{
    padding-right: 40px;
}

.menu {
    display: grid;
    grid-template-areas:
    "logo Inicio Donaciones"
    "Ranking Contacto Server Clasico";
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    padding-left: 150px;
padding-right: 10px;
}
}
/* vista escritorio */
@media screen and (min-width:1026px){

body {
    background-color: black;
}

.parrafo_2 {
    color:brown
}

.ranking {
    display: grid;
    grid-template-areas: 
    "kills video1"
    "kills2 video1"
    "kills3 video1";
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.kills{
    grid-area: kills;
}
.video1 {
    grid-area: video1;

}

.video1{
    padding-left: 750px;
}

}
